<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>weddingWebSite</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="../public/assets/images/gt_favicon.png">
  <link rel="stylesheet" type="text/css" media="all" href="../public/timeline/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="../public/timeline/css/bootstrap-glyphicons.css">
  <link rel="stylesheet" type="text/css" media="all" href="../public/timeline/css/styles.css">
  <script type="text/javascript" src="../public/timeline/js/jquery-1.11.0.min.js"></script>
  <!-- sweet alert-->
  <script src="../public/javascripts/lib/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/javascripts/lib/dist/sweetalert.css">
  <script src="../public/javascripts/confirmation.js"></script>
</head>

<body>
<div class="container">
  <header class="page-header">
    <h1>weddingWebSite for R&D</h1>
  </header>
  
  <ul class="timeline">
    <% for(var i=0;i<1;i++){ %>
    <li><div class="tldate">PLAN:<%= data[i].plan %></div></li>
    <li><div class="tldate">ACTUAL:<%= data[i].actual %></div></li>
    <% }%> 
    <% for(var i=0;i<data.length;i++){ %>
    <% if(i % 3 == 0){ %>
        <li class="timeline-inverted">
    <% }else if(i % 5 == 0){ %>
        <li class="timeline-inverted">
    <% }else{ %>
        <li>
    <% } %>
      <input type="hidden" name="confirmation" value=<%= data[i].confirmation %>></input>
      <div class="tl-circ"><%= data[i].team %></div>
      <% if( data[i].confirmation == "yet"){ %>
        <div class="timeline-panel timeline-panel-yet" onclick='confD(<%= data[i].id %>,"<%= data[i].nm %>")'>
      <% }else{ %>
        <div class="timeline-panel timeline-panel-done" onclick='confY(<%= data[i].id %>,"<%= data[i].nm %>")'>
      <% } %>

            <div class="tl-heading">
             <div class="inf">
                <h4><%= data[i].name %></h4>
             </div>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= data[i].date %></small></p>
                </div>
            <div class="tl-body">
            <p><%= data[i].message %></p>
            <% if(data[i].piclen > 0){ %>
                    <p><img src=<%= data[i].picturePath %> alt="" ></img></p>
            <% } %>
            
            </div>
        </div>
    </li>
    <% }%>    
  </ul>
</div>
</body>
</html>